body,html {
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
    border-style: none;
    background-color: rgb(36, 38, 39);
    overflow: hidden;
}

h4 {
    font-family: 'Karla';
}

.underline {
    /* text-decoration: underline rgb(255, 208, 208) ; */
    text-decoration: underline rgba(255, 208, 208, 0.4);
  }


h1 {
    font-family: "Montserrat";
    font-weight: 700;
    color: #FFD0D0;
}

p {
    font-family: 'Inconsolata';
    color: #F7F9F2;
}

.my-bot-navbar {
    border-radius: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
}

.my-bot-navbar li {
    float: left;
}

.my-bot-navbar li p {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.el4-item {
    padding: 0px;
    font-size: 24px;
    overflow: hidden;
    border: none;
    
}

.el4-btn {
    border: 0px;
    background: none;
    padding: 15px 30px 25px 30px;
    max-width: 100px;
    font-weight: 1000;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.3;
    color: #FFFFFF;
}

.el4-btn:hover {
    transform: scale(1.5);
    transition: 300ms all;
    opacity: 1;
}

.selected-icon {
    opacity: 1;
}

.fire, .fireh4, #firebtn:hover {
    color: #EB5353;
}

.water, .waterh4, #waterbtn:hover {
    color: #4D96FF;
}

.earth, .earthh4, #earthbtn:hover {
    color: #36AE7C;
}

.wind, .windh4, #windbtn:hover {
    color: #F7F48B;
}





